name: Tests & Coverage

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/userver-framework/ubuntu-22.04-userver-pg-dev:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fix git safe directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y lcov git llvm

      - name: Clone Proto Repository
        run: |
          mkdir -p third_party
          git clone https://github.com/viktoralyoshin/playhub-proto.git third_party/playhub-proto

      - name: Configure CMake (Coverage Enabled)
        run: |
          cmake -B build \
            -DCMAKE_BUILD_TYPE=Debug \
            -DUSERVER_FEATURE_GRPC=ON \
            -DUSERVER_FEATURE_POSTGRESQL=ON \
            -DENABLE_COVERAGE=ON \
            -GNinja

      - name: Build
        run: cmake --build build -j $(nproc)

      - name: Run Tests
        working-directory: build

        run: ctest --output-on-failure || true

      - name: Debug Coverage Files
        run: |
          echo "Checking for .gcno files (compile time):"
          find . -name "*.gcno" | head -n 5
          echo "Checking for .gcda files (runtime):"
          find . -name "*.gcda" | head -n 5

      - name: Generate Coverage Report
        run: |
        
          echo '#!/bin/bash' > llvm-gcov.sh
          echo 'exec llvm-cov gcov "$$@"' >> llvm-gcov.sh
          chmod +x llvm-gcov.sh
          
          # 5. Захват данных
          lcov --gcov-tool $(shell pwd)/llvm-gcov.sh --capture --directory build-debug --output-file build-debug/coverage.info
          
          # 6. Удаляем временный скрипт
          rm llvm-gcov.sh
          
          # 7. Фильтруем (ИСКЛЮЧАЕМ ВАШИ ПАПКИ ЗДЕСЬ)
          lcov --remove build-debug/coverage.info \
            '/usr/*' \
            '*/_deps/*' \
            '*/tests/*' \
            '*/third_party/*' \
            '*/generated/*' \
            '*/src/managers/*' \
            '*/src/repository/*' \
            '*/include/managers/*' \
            '*/include/handlers/*' \
            '*/include/repository/*' \
            '*/include/structs/*' \
            --output-file build-debug/coverage_cleaned.info
        
          genhtml build-debug/coverage_cleaned.info --output-directory $(COVERAGE_OUTPUT_DIR)
          
          @echo "------------------------------------------------------------------"
          @echo "Coverage report generated: file://$(shell pwd)/$(COVERAGE_OUTPUT_DIR)/index.html"
          @echo "------------------------------------------------------------------"

      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage_report/
          retention-days: 7